<navbar></navbar>

<!-- Services Section -->
<section class="page-section" id="leaderboard">
  <div class="container">
    <h2 class="text-center mt-0">Challenges Leaders</h2>
    <hr class="divider my-4">

    <div class="row">
      <table class="table table-bordered">
        <thead class="table thead-light">
        <tr class="tr">
          <th class="th">Position</th>
          <th class="th">Name</th>
          <th class="th">Points</th>
          <th *ngIf=" role == 'ADMIN' "class="th">Block user</th>
        </tr>
        </thead>
        <tbody class="tbody mb-5">
        <tr class="tr" *ngFor="let profile of profileList; let i = index">
          <td class="td">{{i + 1}}</td>
          <td class="td">{{profile.firstName}} {{profile.lastName}}</td>
          <td class="td">{{profile.totalPoints}}</td>
          <td *ngIf=" role == 'ADMIN' ">
            <button (click)="disableUser(profile.id)" type="button" class="td btn btn-dark">Block</button>
            <button (click)="unlockUser(profile.id)" type="button" class="td btn btn-dark">Unlock</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="userId != null">
      <h2 class="text-center mt-0">Your Points</h2>
      <hr class="divider my-4">
      <div class="row">

        <table class="table table-bordered">
          <thead class="table thead-light">
          <tr class="tr">
            <th class="th">Name</th>
            <th class="th">Points</th>
          </tr>
          </thead>
          <tbody class="tbody">
          <tr class="tr">
            <td class="td">{{profile.firstName}} {{profile.lastName}}</td>
            <td class="td">{{profile.totalPoints}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>


<!-- Contact Section -->
<section class="page-section" id="contact" style="background-color: #f9c29fdb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">Have questions? Found bugs? Have ideas of improving our system? Contact us!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+375 (44) 703-56-04</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="mailto:contact@yourwebsite.com">romanksl34@gmail.com</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
