<navbar></navbar>

<!-- Services Section -->
<section class="page-section" id="leaderboard">
  <div class="container">
    <h2 class="text-center mt-0">Challenges Leaders</h2>
    <hr class="divider my-4">

    <div class="row">
      <table class="table table-bordered">
        <thead class="table thead-light">
        <tr class="tr">
          <th class="th">Position</th>
          <th class="th">Nickname</th>
          <th class="th">Points</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="tr">
          <td class="td">1</td>
          <td class="td">George Sulejmanov</td>
          <td class="td">322</td>
        </tr>
        <tr class="tr">
          <td class="td">2</td>
          <td class="td">Anastasia Khristophorova</td>
          <td class="td">289</td>
        </tr>
        <tr class="tr">
          <td class="td">3</td>
          <td class="td">Alexey Pasevik</td>
          <td class="td">144</td>
        </tr>
        <tr class="tr">
          <td class="td">4</td>
          <td class="td">Roman Slabodchik</td>
          <td class="td">143</td>
        </tr>
        <tr class="tr">
          <td class="td">5</td>
          <td class="td">Alexander Sachko</td>
          <td class="td">-13</td>
        </tr>
        </tbody>
      </table>

    </div>
    <h2 class="text-center mt-0">Your Position</h2>
    <hr class="divider my-4">
    <div class="row">

      <table class="table table-bordered">
        <thead class="table thead-light">
        <tr class="tr">
          <th class="th">Position</th>
          <th class="th">Nickname</th>
          <th class="th">Points</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="tr">
          <td class="td">1</td>
          <td class="td">George Sulejmanov</td>
          <td class="td">322</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>


<!-- Contact Section -->
<section class="page-section" id="contact" style="background-color: #f9c29fdb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">Have questions? Found bugs? Have ideas of improving our system? Contact us!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+375 (44) 703-56-04</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="mailto:contact@yourwebsite.com">romanksl34@gmail.com</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
