<navbar></navbar>

<!-- Services Section -->
<section class="page-section" id="challengeList">

  <div class="container">
    <form [formGroup]="themeForm" (ngSubmit)="pickTheme()">
      <label class="text-muted">Choose a Theme:
        <select formControlName="theme">
          <option>All</option>
          <option *ngFor="let opt of themes">{{opt}}</option>
        </select>
      </label>
      <button type="submit" class="btn btn-secondary">Pick Theme</button>
    </form>
  </div>

  <div class="container">
    <div *ngIf=" roleId == 'ADMIN' ">
      <button class="btn btn-dark" id="createbtn" data-toggle="modal" data-target="#createModal">Create Challenge</button>
    </div>
    <h2 class="text-center mt-0">Challenges Lvl 1</h2>
    <hr class="divider my-4">
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let challenge of challengesLevel1">
          <h3 class="h4 mb-3">{{challenge.name}}</h3>
          <p class="text-muted mb-3"> {{challenge.shortDescription}}</p>
          <p class="text-muted mb-3"> {{challenge.fullDescription}}</p>
          <p class="text-muted mb-2"> {{challenge.theme}}</p>
          <p class="text-muted mb-2"> {{challenge.points}} points</p>
          <div *ngIf="userId != null && roleId == 'ADMIN' ">
            <button class="btn btn-dark" id="editBtn1" (click)="saveChallenge2(challenge)" data-toggle="modal" data-target="#editModal">Edit</button>
            <button (click)="deleteChallenge(challenge.id)" type="button" class="btn btn-dark">Delete Challenge</button>
          </div>
          <div *ngIf="userId != null && userId.length != 0">
            <button type="button" (click)="addChallenge(userId, challenge.id)" class="btn btn-dark">Join</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center mt-0">Challenges Lvl 2</h2>
    <hr class="divider my-4">
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let challenge of challengesLevel2">
          <h3 class="h4 mb-3">{{challenge.name}}</h3>
          <p class="text-muted mb-3"> {{challenge.shortDescription}}</p>
          <p class="text-muted mb-3"> {{challenge.fullDescription}}</p>
          <p class="text-muted mb-2"> {{challenge.theme}}</p>
          <p class="text-muted mb-2"> {{challenge.points}} points</p>
          <div *ngIf="userId != null && roleId == 'ADMIN' ">
            <button class="btn btn-dark" id="editBtn2" (click)="saveChallenge2(challenge)" data-toggle="modal" data-target="#editModal">Edit</button>
            <button (click)="deleteChallenge(challenge.id)" type="button" class="btn btn-dark">Delete Challenge</button>
          </div>
          <div *ngIf="userId != null && userId.length != 0">
            <button type="button" (click)="addChallenge(userId, challenge.id)" class="btn btn-dark">Join</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center mt-0">Challenges Lvl 3</h2>
    <hr class="divider my-4">
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let challenge of challengesLevel3">
          <h3 class="h4 mb-3">{{challenge.name}}</h3>
          <p class="text-muted mb-3"> {{challenge.shortDescription}}</p>
          <p class="text-muted mb-3"> {{challenge.fullDescription}}</p>
          <p class="text-muted mb-2"> {{challenge.theme}}</p>
          <p class="text-muted mb-2"> {{challenge.points}} points</p>
          <div *ngIf="userId != null && roleId == 'ADMIN' ">
          <button class="btn btn-dark" id="editBtn3" (click)="saveChallenge2(challenge)" data-toggle="modal" data-target="#editModal">Edit</button>
          <button (click)="deleteChallenge(challenge.id)" type="button" class="btn btn-dark">Delete Challenge</button>
          </div>
          <div *ngIf="userId != null && userId.length != 0">
            <button type="button" (click)="addChallenge(userId, challenge.id)" class="btn btn-dark">Join</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<!-- Contact Section -->
<section class="page-section" id="contact" style="background-color: #f9c29fdb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">Have questions? Found bugs? Have ideas of improving our system? Contact us!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+375 (44) 703-56-04</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="mailto:contact@yourwebsite.com">romanksl34@gmail.com</a>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Challenge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="editFirstName">First Name</span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="{{challenge.name}}" aria-label="Default" aria-describedby="editFirstName">
          </div>
          <div *ngIf="name.hasError('required') && name.touched" class="error text-primary">
            Challenge Name is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="editShortDescription">Short Description</span>
            </div>
            <input type="text" class="form-control" formControlName="shortDescription" placeholder="{{challenge.shortDescription}}" aria-label="Default" aria-describedby="editShortDescription">
          </div>
          <div *ngIf="shortDescription.hasError('required') && shortDescription.touched" class="error text-primary">
            Short Description is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="editFullDescription">Full Description</span>
            </div>
            <input type="text" class="form-control" formControlName="fullDescription" placeholder="{{challenge.fullDescription}}" aria-label="Default" aria-describedby="editFullDescription">
          </div>
          <div *ngIf="fullDescription.hasError('required') && fullDescription.touched" class="error text-primary">
            Full Description is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="editLevel">Level</span>
            </div>
            <input type="text" class="form-control" formControlName="level" placeholder="{{challenge.level}}" aria-label="Default" aria-describedby="editLevel">
          </div>
          <div *ngIf="level.hasError('required') && level.touched" class="error text-primary">
            Level is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="editPoints">Points</span>
            </div>
            <input type="text" class="form-control" formControlName="points" placeholder="{{challenge.points}}" aria-label="Default" aria-describedby="editPoints">
          </div>
          <div *ngIf="points.hasError('required') && points.touched" class="error text-primary">
            Points is required
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create Challenge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="createFirstName">Challenge name</span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="{{challenge.name}}" aria-label="Default" aria-describedby="createFirstName">
          </div>
          <div *ngIf="name.hasError('required') && name.touched" class="error text-primary">
            Challenge Name is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="createShortDescription">Short Description</span>
            </div>
            <input type="text" class="form-control" formControlName="shortDescription" placeholder="{{challenge.shortDescription}}" aria-label="Default" aria-describedby="createShortDescription">
          </div>
          <div *ngIf="shortDescription.hasError('required') && shortDescription.touched" class="error text-primary">
            Short Description is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="createFullDescription">Full Description</span>
            </div>
            <input type="text" class="form-control" formControlName="fullDescription" placeholder="{{challenge.fullDescription}}" aria-label="Default" aria-describedby="createFullDescription">
          </div>
          <div *ngIf="fullDescription.hasError('required') && fullDescription.touched" class="error text-primary">
            Full Description is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="createLevel">Level</span>
            </div>
            <input type="text" class="form-control" formControlName="level" placeholder="{{challenge.level}}" aria-label="Default" aria-describedby="createLevel">
          </div>
          <div *ngIf="level.hasError('required') && level.touched" class="error text-primary">
            Level is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="setTheme">Theme</span>
            </div>
            <input type="text" class="form-control" formControlName="level" placeholder="{{challenge.theme}}" aria-label="Default" aria-describedby="createTheme">
          </div>
          <div *ngIf="level.hasError('required') && level.touched" class="error text-primary">
            Level is required
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="createPoints">Points</span>
            </div>
            <input type="text" class="form-control" formControlName="points" placeholder="{{challenge.points}}" aria-label="Default" aria-describedby="createPoints">
          </div>
          <div *ngIf="points.hasError('required') && points.touched" class="error text-primary">
            Full Description is required
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
